:root {
  --primary: #ace74d;
  --bg: #01010;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(50, 40, 40);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0.5rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* Hero Section Start*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
  background-color: #513c28;
  transition: 0.3s;
}
/* Hero Section End */
/* About Section Start */
.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/about-bg.jpg");
  background-size: cover;
  position: relative;
}

.about::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.about.content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.about .content h1 {
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.about .content h1 span {
  color: var(--primary);
}

.about .content p {
  position: absolute;
  top: 190px;
  left: 60px;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* About Section End */
/* Collection Section Start */
.collection {
  min-height: 20vh;
  display: flex;
  align-items: center;
  background-color: #fff;
  background-size: cover;
  position: relative;
}
.search-container {
  /* position: absolute; */
  top: 150px;
  left: 60px;
  display: block;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.search-button {
  width: 45px;
  height: 40px;
  border: 1px solid var(--bg);
  background: var(--primary);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-button:hover {
  background-color: #513c28;
  transition: 0.3s;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.dropdown-type {
  /* position: absolute; */
  top: 150px;
  left: 460px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.dropbtn {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.add-button {
  /* position: absolute; */
  top: 150px;
  right: 200px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.addbtn {
  width: 85px;
  height: 40px;
  border: 1px solid var(--bg);
  background: var(--primary);
  text-align: center;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 15px;
}

.addbtn:hover {
  background-color: #513c28;
  transition: 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  height: 90%;
  background-color: rgb(50, 40, 40);
  margin: 5px auto;
  border: 1px solid #888;
  width: 30%;
}
.modal-container {
  display: grid;
  margin: 20px;
}
.sctname-input,
.cmname-input,
.tp-input,
.makanan-input {
  width: 50%;
  padding: 3px 20px;
  margin: 9px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.deskripsi-input {
  width: 70%;
  padding: 3px 20px;
  margin: 9px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  height: 100px;
}
.img-input {
  width: 50%;
  margin: 9px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
}

.addspc {
  width: 100px;
  height: 30px;
  border: 1px solid var(--bg);
  background: transparent;
  text-align: center;
  background-color: rgb(50, 40, 40);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 15px;
}

.cancelbtn {
  width: 100px;
  height: 30px;
  border: 1px solid var(--bg);
  background: transparent;
  text-align: center;
  background-color: rgb(50, 40, 40);
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 15px;
}

.addspc:hover {
  color: var(--primary);
}

.cancelbtn:hover {
  color: var(--primary);
}

.addspc::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.cancelbtn::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.addspc:hover::after {
  transform: scaleX(1);
}

.cancelbtn:hover::after {
  transform: scaleX(1);
}

.card {
  max-width: 190px;
  flex: 1 1 210px;
  text-align: center;
  height: 200px;
  margin: 15px;
}

.card .image {
  height: 70%;
}

.card .image .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .caption {
  background-color: black;
  color: white;
}

.card .caption a:hover {
  color: var(--primary);
}

.card .caption a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.card .caption a:hover::after {
  transform: scaleX(1);
}

/* Collection Section End */
/* Login Start */
.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/login-bg.jpg");
  background-size: cover;
  position: relative;
}
.login::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.login-container {
  position: absolute;
  top: 150px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.uname-input,
.psw-input {
  width: 80%;
  padding: 12px 20px;
  margin: 13px 0;
  display: grid;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.login-button {
  width: 75px;
  height: 40px;
  border: 1px solid var(--bg);
  background: transparent;
  text-align: center;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 20px;
}

.login-button:hover {
  color: var(--primary);
}

.login-button::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.login-button:hover::after {
  transform: scaleX(1);
}

/* Login End */
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(50, 40, 40, 0.8);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
